/* 전역 속성 */
body {
    width: 1920px;
    height: 100vh;
    background-image: url('./img/cool-background.png');
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.2em;
    font-weight: 800;
}

p {
    font-size: 1.2em;
    line-height: 20px;
}

/* Css 스타일링 */
.container {
    width: 600px;
    min-height: 600px;
    height: auto;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    position: absolute;
    left: calc((100% - 600px) / 2);
    top: calc(((100% - 600px) / 2));
    display: flex;
    flex-direction: column;
}

/* blur 처리 */
.container-blur {
    backdrop-filter: blur(20px);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.2);
}

.conBox {
    margin: 50px 30px 0 30px;
}

.login-label, .inputBox {
    height: 100px;
    text-align: left;
    line-height: 1.6em;
}

/* inputBox 스타일링 */
.inputBox {
    width: 100%;
    height: auto;
}

#minTx {
    position: relative;
    font-size: 0.8em;
    left: 8px;
    line-height: 2.4em;
}

#input01, #input02 {
    width: 90%;
    height: 40px;
    border: 0px solid rgb(63, 63, 63);
    border-radius: 20px;
    box-shadow: -3px -3px 8px #c9c9c9, 3px 3px 8px #babebc;
    padding-left: 15px;
    outline: none;
    margin-top: 8px;
}

/* .mini-input {margin-block: 10px;} */

/* button 스타일링 */
.right-bx {
    position: relative;
    right: 10px;
    margin: 20px 0;
}
#flex-left {
    display: flex;
    flex-direction: row-reverse;
}

.conBtn {
    width: 120px;
    height: 45px;
    color: #fff;
    background-color: rgba(29, 80, 221, 0.9);
    border-radius: 20px;
    border: 0.1px solid rgb(179, 179, 179);
    box-shadow: 5px 5px 10px #7c7c7c;
}

.conBtn:hover {
    color: #ffffffe5;
    background-color: rgb(35, 87, 231);
}

.socialLogin {
    width: 100%;
    height: 45px;
    color: #fff;
    border-radius: 20px;
    border: 0.1px solid rgba(59, 59, 59, 0.8);
    box-shadow: 3px 3px 8px #939493;
    margin-top: 20px;
    font-weight: 800;
}

#google {
    background-color: rgb(255, 255, 255);
    color: black;
}

#facebook {
    background-color: rgba(29, 80, 221, 0.932);
}

#facebook a {color: #fff;}

i {width: 40px;}

/* 표시줄 */
.line {
    /* position: relative;
    top: 15px; */
}

.hrLine {
    width: 40%;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}